.link {
    left: 10px;
    top: -10px;
    font-weight: bold;
}

.hr {
    color: blue;
    background-color: blue;
}

.closeMenu {
    right: 10%;
    position: absolute;
    @media (min-width: 640px) {
        display: none;
    }
}

.logo {
    left: 10%;
    display: flex;
    position: absolute;
}

.navbarOptions {
    right: 10%;
    display: flex;
    position: absolute;
}