.imgContainer {
    position: relative;
    width: 100%;
    height: 45vh; /* 50% of the viewport height */
    overflow: hidden;
}

.img {
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container */
}

.title {
    position: absolute;
    top: 100px;
    left: 10%;
}